*.mps merge=mps
trace.info merge=mps
dependencies merge=mps
generated merge=mps
*.mpl text merge=mps
*.msd text merge=mps
*.devkit text merge=mps
*.mpr text merge=mps
*.mpsr text merge=mps
*.model text merge=mps
