/* 
	Document: FX8Forms Style Definitions
	Created on: Oct 20 2014
	
	Author: Daniel Stieger
	
	The Document is based on Pedro Duque Vieira JMetro for JavaFX 
	
    
 	Default highlighting color (button / menu) is: 		00a7d3
 	Default highlighting hovering over color is: 	    0084a7
 	
 	Default gray button:    ccccc
 	Default gray hoverig:   bbbbb

    
    
*/


.FX8ConclusionButtonsBox {
	-fx-padding: 5;
}

.FX8FromFlagBorder {
	/* !!! flag jumping behaviour ?? */
	
	-fx-border-color: red; 
	-fx-border-width: 1;
}

.FX8FormFlagLabel {
	-fx-text-fill: red;
}

.FX8FormTitleLabel {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #0084a7;

}

.FX8FormContainer {
	-fx-border-color: red;
	-fx-border-width: 1;
	-fx-padding: 5;
}





.msgboxTextLabel {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.msgboxImagePadding {
    -fx-padding: 20;
}









