 
 

.root {  -fx-control-inner-background:  #f0f0f0;
         -fx-focus-color: #0064ac;
 }

.formContainer { -fx-padding: 5;
 } 
 /* -fx-border-width: 1;
    -fx-border-color: red;
} */

.tableForm { -fx-padding: 0 5 0 5;
 } 
 /*-fx-border-width: 1;
   -fx-border-color: green;
} */

.tabForm { } 
/* -fx-border-width: 1;
   -fx-border-color: blue;
 } */

.formstopPane { -fx-padding: 5;
 } 

.flagpane-title { -fx-text-fill: red;
 }

.msgbox {-fx-background-color: #dedede;
         -fx-border-insets: 5 5 5 5;
         -fx-border-color: #494949;
         -fx-border-width: 1;
 }

.shortMessageLabel {-fx-font-size: 14;
 }

.messageBoxScrollPane { -fx-background-color: null;
                        -fx-border-width: 0;
                        -fx-padding: 20;
 } 

.button { -fx-background-color: -fx-shadow-highlight-color, linear-gradient(#1891e9, #106aa9), linear-gradient(#1867a9, #106aa9), linear-gradient(#0067a9, #0064ac);
          -fx-background-radius: 3;
          -fx-padding: 3 7 3 7;
          -fx-font: bold 13 arial;
          -fx-text-fill: white;
} 

.button:hover { -fx-background-color: -fx-shadow-highlight-color, linear-gradient(#0064ac, #005089), linear-gradient(#1867a9, #106aa9), linear-gradient(#0087e9, #0064ac);
                -fx-background-radius: 3;
                -fx-padding: 3 7 3 7;
                -fx-font: bold 13 arial;
                -fx-text-fill: white;
} 

.conclusionButtonBox { -fx-spacing: 10;
                       -fx-padding: 2 10 5 10;
} 

.tabelCellLabel { 
/* -fx-ellipsis-string: "";
 */ 
   -fx-min-width: 0;
}  

.titleLabel { -fx-font-size: 13;
              -fx-font-weight: bold;
              -fx-text-fill: #0064ac;
 }

.table-view .column-header { -fx-size: 11;
                             -fx-font-size: 12;
                             -fx-padding: 0px;
 }

.table-row-cell {  -fx-cell-size: 19;
                   -fx-padding: 0;
                   -fx-insets: 0, 0 0 0 0;
 }

.table-row-cell .table-cell {  -fx-padding: 0 5 0 5;
                               -fx-insets: 0, 0 0 0 0;
 }

.table-view:focused .table-row-cell:selected { -fx-background-color: #0064ac;
 }

.table-row-cell:selected { -fx-background-color: #869cac;
 } 

.tab-pane * .tab-header-background { -fx-background-color: transparent;
                                     -fx-border-width: 0 0 1 0;
                                     -fx-border-color: -fx-inner-border;
 }

.tab-pane .tab-content-area { -fx-border-width: 0 1 1 1;
                              -fx-border-color: darkgray;
 } 

.split-pane:vertical > * > .split-pane-divider { -fx-border-color:  transparent;
                                                 -fx-background-color: transparent;
                                                 -fx-background-insets: 0;
}

.split-pane { -fx-background-insets: 0;
 } 

.delegateLabel { -fx-padding: 0 0 0 10;
 } 
 /* -fx-border-width: 1;
    -fx-border-color: blue;
 } */

.delegateControl { -fx-control-inner-background: white ;
 }

.delegateControl:disabled { -fx-background-color: white;
                            -fx-text-fill: dimgray ;
                            -fx-opacity: 1.0;
 }

.delegateControlStatus .label:disabled { -fx-opacity: 1.0;
                                         -fx-text-fill: black;
}

.delegateControlStatus:disabled { -fx-opacity: 0.65;
 }

.delegate-validation-error { -fx-border-color: red;
                             -fx-border-width: 2;
 } 

.notificationbox {-fx-background-color: #edd824;
                  -fx-border-insets: 5 5 5 5;
                  -fx-border-color: #494949;
                  -fx-border-width: 1;
 }

.notificationLabel { -fx-border-color: #494949;
                     -fx-border-width: 0 0 1 0;
                     -fx-padding: 0 0 5 0;
 }