/*
 * FXBasis.css for the FX8 implementation
 *
 * Daniel Stieger
 * Brighton 2014
 *
 */ 
 

.root {  
		/* so basically this template is working with 
		 * modena.css, the default javafx template. 
		-fx-base: white;
       	-fx-accent: #68ABB4;
		-fx-default-button: #68ABB4;
		*/
	
	    -fx-focus-color: -fx-accent;
		
		/* -fx-text-base-color: black;
		-fx-text-fill: -fx-text-base-color;
	
		-fx-font-family: "Segoe UI Semibold";
		-fx-font-size: 12; */
        
}


.FX8FormContainer {
   -fx-padding: 5;
} 

.FX8FormTitleLabel {
	-fx-text-fill: -fx-accent;
	-fx-font-weight: bold;
}

.FX8FormFlagLabel {
	-fx-text-fill: #FF0000;
	-fx-font-weight: bold;
}

.FX8FromFlagBorder {
   -fx-border-width: 1;
   -fx-border-color: #FF0000;
}


.FX8TableForm { -fx-padding: 0 5 0 5;
 } 
 /*-fx-border-width: 1;
   -fx-border-color: green;
} */

.FX8TabForm { } 
/* -fx-border-width: 1;
   -fx-border-color: blue;
 } */

.FX8ConclusionButtonsBox { -fx-spacing: 10;
                       -fx-padding: 2 10 5 10;
} 


.msgboxTextLabel {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.msgboxImagePadding {
    -fx-padding: 20;
}







.tabelCellLabel { 
/* -fx-ellipsis-string: "";
 */ 
   -fx-min-width: 0;
}  

.table-view .column-header { -fx-size: 11;
                             -fx-font-size: 12;
                             -fx-padding: 0px;
 }

.table-row-cell {  -fx-cell-size: 19;
                   -fx-padding: 0;
                   -fx-insets: 0, 0 0 0 0;
 }

.table-row-cell .table-cell {  -fx-padding: 0 5 0 5;
                               -fx-insets: 0, 0 0 0 0;
 }

.table-view:focused .table-row-cell:selected { -fx-background-color: #0064ac;
 }

.table-row-cell:selected { -fx-background-color: #869cac;
 } 

.tab-pane * .tab-header-background { -fx-background-color: transparent;
                                     -fx-border-width: 0 0 1 0;
                                     -fx-border-color: -fx-inner-border;
 }

.tab-pane .tab-content-area { -fx-border-width: 0 1 1 1;
                              -fx-border-color: darkgray;
 } 

.split-pane:vertical > * > .split-pane-divider { -fx-border-color:  transparent;
                                                 -fx-background-color: transparent;
                                                 -fx-background-insets: 0;
}

.split-pane { -fx-background-insets: 0;
 } 

.delegateLabel { -fx-padding: 0 0 0 10;
 } 
 /* -fx-border-width: 1;
    -fx-border-color: blue;
 } */

.delegateControl { -fx-control-inner-background: white ;
 }

.delegateControl:disabled { -fx-background-color: white;
                            -fx-text-fill: dimgray ;
                            -fx-opacity: 1.0;
 }

.delegateControlStatus .label:disabled { -fx-opacity: 1.0;
                                         -fx-text-fill: black;
}

.delegateControlStatus:disabled { -fx-opacity: 0.65;
 }