/* moware suivant adoptions */
.sv-status-gray {color:#000 !important; background-color:#b3b3b3 !important}
.sv-branding-gray {color:#000 !important; background-color:#d9d9d9}
.sv-back-gray {color:#000 !important; background-color:#333333 !important}
.sv-tile {color:#000 !important; background-color:#f2f2f2!important}

.sv-rightbar {border-right:24px solid #ccc!important}
