/*
 * vaadin for moware 
 *
 * based on valo theme, adjust some basic components and colors. 
 * Daniel Stieger, Winter 2015, Brighton
 */ 
 
$mo-inputbg: #fff9e6;

$mo-min-margin: 2px;
$mo-min-borderclr: #ddd;
$mo-max-borderclr: #aaa;
$mo-flag-label-color: #454545; /* #6B7D99; */

$v-app-loading-text: "modellwerkstatt.org";
$v-background-color: #f8f8f8;
$v-focus-color: #4b8df8;
$v-selection-color: #4b8df8;


$v-panel-background-color: $v-background-color;
/* necessary to set this colors ? .......................... */
/* $v-overlay-background-color: $v-background-color;
$valo-menu-background-color: $v-background-color;
$v-overlay-shadow: 0 0 0 1px rgba(#fff, .5);
$v-window-shadow: $v-overlay-shadow;
$v-window-modality-curtain-background-color: $v-background-color; */

/* (v-shade 0.6); */

$v-border: 1px solid $mo-max-borderclr; 
$v-border-radius: 2px;
$v-bevel: inset 0 1px 0 v-tint;

$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;

$valo-menu-background-color: hsl(218, 20%, 98%);

$v-friendly-color: #4b8df8;
$v-error-indicator-color: #CC3D28;

$v-font-family: "Helvetica", sans-serif !default;
$v-font-size: 13px;
$v-line-height: 1;

$v-unit-size: 24px;           // orig 26, 24, 22
$v-unit-size--small: 22px;
$v-unit-size--tiny: 20px;

$v-table-row-height: 18px !default;

@import "../valo/valo";
