@import "variables";

@mixin moware {
  @include valo;
   	 
   	.mo-sidebar {
   		background-color: #414B56;
   	}
   	 
	.mo-small-mrg.v-margin-left   {padding-left:   9px;}
	.mo-small-mrg.v-margin-right  {padding-right:  9px;}
	.mo-small-mrg.v-margin-top    {padding-top:    9px;}
	.mo-small-mrg.v-margin-bottom {padding-bottom: 9px;}

	.mo-bottombtnpane-mrg {
		padding-left:   0px;
		padding-right:  0px;
		padding-top:    $v-unit-size / 4;
		padding-bottom: 0px;
	}
	
	.mo-caption { color: $v-friendly-color; font-weight: bold; }
	.mo-small-font { font-size: 0.9em; }
	.mo-msgboxtext { line-height: $v-unit-size * 0.75; }

	.mo-promptwindow {
		.v-window-header { font-weight: bold; }
	}	
	
	.mo-form.v-margin-left   {padding-left:   $mo-min-margin;}
	.mo-form.v-margin-right  {padding-right:  $mo-min-margin;}
	.mo-form.v-margin-top    {padding-top:    $mo-min-margin;}
	.mo-form.v-margin-bottom {padding-bottom: $mo-min-margin;}

	.mo-form {
			
	}
	
	.mo-form-border {
		border: 1px solid $mo-min-borderclr;	
	}
	

	.mo-flagborder-error {
		border: 1px solid $v-error-indicator-color !important;
	}

	.mo-flagborder-noerror {
		border: 1px solid transparent;
	}
	
	.mo-flagborder-noerror-table {
	    border-left: 1px solid transparent;
	    border-right: 1px solid transparent;
	    border-bottom: 1px solid transparent;
	}
	
	.mo-flaglabel {
		line-height: 1.8em;
		padding-left: ($v-unit-size / 9);
		font-weight: bold;
		/* no bit darker please 
		color: $mo-max-borderclr; */
		color: $mo-flag-label-color;
	}
	
	.mo-lablespace {
		margin-left: 20px;
		margin-top: 20px;
	}
	
	/* also for prompt window */
	.v-window-header {
		color: $mo-flag-label-color !important;
	}
	.v-window {
		border-radius: 0px !important;
	}
	
	.mo-flaglabel-error {
		color: $v-error-indicator-color !important;
	}
	
	.v-slot .mo-table {
		border-top: 1px solid $mo-min-borderclr;
		// flag is managed by flagborder-noerror-table
	}
	
	/* .v-table-body {
		background-image: url("tblback3.png");
    	background-repeat: repeat;
	} */
	
	.v-table-header-wrap {
		background-image: -webkit-linear-gradient(top, $v-background-color 2%, #B8B8B8 98%);
	}
	
	/* make table look leightweight */
	.v-table-table td { border-top: none !important; }
	.v-table-cell-content { border-left: 1px solid #dddddd !important; }
	
	.mo-table {
		/* check table settings in _variables.scss */
		
		.mo-linecounter {
			width: 3.5 * $v-unit-size;
			height: $v-unit-size;
			line-height: $v-unit-size;
		}

		.mo-linecounter-margin {
			margin-right: 2 * $v-unit-size;
		}

		.v-slot-mo-searchfield { height: $v-unit-size; }
		.mo-searchfield {
			width: 5 * $v-unit-size;
			background-color: $mo-inputbg;
			height: 0.8 * $v-unit-size;
			
			border: 1px solid transparent;
		}
		.mo-summaryline {
			line-height: 1em;
			padding-right: ($v-unit-size / 4);
		}
	
		/* .v-textfield-focus {
			border: 1px solid $v-focus-color;
		} */
	
		/* editable table */
		input {
			margin: 0px !important;
			padding: 0px 5px 0px 5px !important;
			font-weight: 100 !important;
			height: 18px !important;
		}		
		
		.mo-right-input {
			text-align: right;
		
		}
		
	}
	
	/* delegate form special adoptions ----------------------- */
	.mo-delegate {
		.v-formlayout-captioncell {
			padding-left: 2px;
		}
	
		.v-formlayout-contentcell  {
			padding-right: 2px;
		}
	
		.mo-delegate-editor, .mo-delegate-editor input {
			background-color: $mo-inputbg !important;
			border: 1px solid transparent;
			background-image: none !important;
			/* box-shadow: none !important;
			-webkit-box-shadow: none !important; */		
		}
	
		/* .v-filterselect {
			border: 1px solid transparent;
		} */
	}
	
	.v-textfield:disabled, .v-filterselect-input:disabled {
		color: #000000 !important;
	}
	
	
}

