{% macro keyboardKey(index, keyName) %}
    <button type="button" id="mykeaboardKey_{{ index }}" class="kbrdbutton" mykeyboardKey="{{ keyName }}" onclick="mykeyboardKeypress('{{ keyName }}');return false;" disabled>
    	<div class="kbrdlabel">{{ keyName }}</div>
    </button>
{% endmacro %}

{% if scanConclusion and scanConclusion.enabled %}
<input name="scanconclusion" type="hidden" value="conclusion_{{ scanConclusion.triggerCode }}">
	<div>
		<button type="button" id="scanSoftButton" class="myscanbutton" onClick="ScanSubmit();return false;" disabled>
		<div class="labeldiv"> {% if scanConclusion.materialImgName %} <i class="material-icons">{{ scanConclusion.materialImgName }}</i>{% endif %}
		  <span class="label"> {{ scanConclusion.label }} </span>
		</div>
		</button>
	</div>
{% endif %}
    <div>
		{{ keyboardKey(0, "1") }}
		{{ keyboardKey(1, "2") }}
		{{ keyboardKey(2, "3") }}
		{{ keyboardKey(3, "+") }}
    </div>
    <div>
		{{ keyboardKey(4, "4") }}
		{{ keyboardKey(5, "5") }}
		{{ keyboardKey(6, "6") }}
		{{ keyboardKey(7, "-") }}
    </div>
    <div>
		{{ keyboardKey(8, "7") }}
		{{ keyboardKey(9, "8") }}
		{{ keyboardKey(10, "9") }}
		{{ keyboardKey(11, "<<") }}
    </div>
    <div>
		<button concbut="true" type="button" id="cancelbutton" class="kbrdbutton currentfg" onClick="SaveSubmit('conclusion_0');return false;" navicrtl="conclusion_0"> 
        <div class="labeldiv"> <i class="material-icons">&#xE5C4;</i> <span class="label"></span>
        </div>
        </button>

		{{ keyboardKey(13, "0") }}
		{{ keyboardKey(14, ".") }}

		<button concbut="true" type="button" id="okbutton" class="kbrdbutton {% if firstConclusion.enabled %}currentfg{% endif %}" onClick="SaveSubmit('conclusion_{{ firstConclusion.triggerCode }}');return false;"
				navicrtl="conclusion_{{ firstConclusion.triggerCode }}" {% if not firstConclusion.enabled %} disabled {% endif %}>
		<div class="labeldiv"> 
			{% if firstConclusion.materialImgName %} <i class="material-icons">{{ firstConclusion.materialImgName }}</i>{% endif %}
			{% if firstConclusion.label %} <span class="label"> {{ firstConclusion.label }} </span> {% endif %}
		</div>
		</button>
    </div>